name: Test yaml2ics

on:
  push:
    branches-ignore:
      - main
      - staging
  workflow_dispatch:
  
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10.5
      uses: actions/setup-python@v4
      with:
        python-version: "3.10.5"
        cache: 'pip' # caching pip dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ics==0.8.0.dev0
        pip install yaml2ics==0.2
        pip install pyyaml
    - name: Execute yaml2ics
      run: |
        mkdir ./calendar
        yaml2ics main.yml > ./calendar/scs.ics
        python fix_ics_rrule.py ./calendar/scs.ics
        yaml2ics openops.yml > ./calendar/openops.ics
        python fix_ics_rrule.py ./calendar/openops.ics
        yaml2ics sig_standard_cert.yml > ./calendar/sig_standard_cert.ics
        python fix_ics_rrule.py ./calendar/sig_standard_cert.ics
