name: Run yaml2ics

on:
  push:
    branches:
    - main
  workflow_dispatch:
jobs:
  default:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10.x
      uses: actions/setup-python@v4
      with:
        #python-version: "3.10"
        cache: 'pip' # caching pip dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ics==0.8.0.dev0
        pip install ics-vtimezones==2020.1
        pip install yaml2ics==0.2
        pip install pyyaml
    - name: Execute yaml2ics
      run: |
        mkdir ./calendar
        yaml2ics main.yml > ./calendar/scs.ics
        python fix_ics_rrule.py ./calendar/scs.ics
        yaml2ics openops.yml > ./calendar/openops.ics
        python fix_ics_rrule.py ./calendar/openops.ics
        yaml2ics sig_standard_cert.yml > ./calendar/sig_standard_cert.ics
        python fix_ics_rrule.py ./calendar/sig_standard_cert.ics
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./calendar
        force_orphan: true
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: 'Update SCS community calendar'
